=begin
#GeoAPI

#Geographic data REST API — modern replacement for GeoNames.  Serves countries, regions, cities, postal codes, timezones, and IP geolocation data through a fast, well-documented JSON API with cursor-based pagination and field selection.  ## Authentication All endpoints (except health check) require an API key passed via the `X-API-Key` header.  ## Rate Limiting Two independent limits apply to every authenticated request: a per-second throttle and a monthly quota. They fail with different error codes because they call for different client behaviour — `rate_limit_exceeded` means back off for a moment, `quota_exceeded` means the plan's monthly allowance is exhausted until the period resets.  Responses include rate limit headers: - `X-RateLimit-Limit` — requests per second allowed - `X-RateLimit-Remaining` — requests remaining in current window - `X-RateLimit-Reset` — **Unix epoch second** at which the applicable limit   resets. This is an absolute timestamp, not a duration. On a   `quota_exceeded` response it carries the end of the monthly quota period   rather than the next second boundary. - `X-Monthly-RateLimit-Limit` — monthly quota - `X-Monthly-RateLimit-Remaining` — monthly requests remaining - `X-RateLimit-Upgrade` — advisory message, present only once monthly usage   passes 80% of the plan's quota - `Retry-After` — seconds to wait before retrying. Present on both 429s and   the unambiguous duration; prefer it over deriving one from   `X-RateLimit-Reset`.  ## Pagination List endpoints use cursor-based pagination with `cursor` and `limit` parameters. Maximum limit is 100. Responses include pagination metadata in the `meta` object.  ## Field Selection Use `?fields=name,population` on any endpoint to receive only the specified fields. 

The version of the OpenAPI document: 1.2.1

Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module GeoAPI
  class BatchApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Batch lookup cities by IDs
    # Returns multiple cities in a single request. Maximum 50 IDs per request.
    # @param batch_request [BatchRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @option opts [String] :fields Comma-separated list of fields to include in the response
    # @return [CityListResponse]
    def batch_cities(batch_request, opts = {})
      data, _status_code, _headers = batch_cities_with_http_info(batch_request, opts)
      data
    end

    # Batch lookup cities by IDs
    # Returns multiple cities in a single request. Maximum 50 IDs per request.
    # @param batch_request [BatchRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @option opts [String] :fields Comma-separated list of fields to include in the response
    # @return [Array<(CityListResponse, Integer, Hash)>] CityListResponse data, response status code and response headers
    def batch_cities_with_http_info(batch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchApi.batch_cities ...'
      end
      # verify the required parameter 'batch_request' is set
      if @api_client.config.client_side_validation && batch_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_request' when calling BatchApi.batch_cities"
      end
      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length > 5
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling BatchApi.batch_cities, the character length must be smaller than or equal to 5.'
      end

      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length < 2
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling BatchApi.batch_cities, the character length must be greater than or equal to 2.'
      end

      # resource path
      local_var_path = '/v1/batch/cities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CityListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth']

      new_options = opts.merge(
        :operation => :"BatchApi.batch_cities",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchApi#batch_cities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Batch lookup countries by IDs
    # Returns multiple countries in a single request. Maximum 50 IDs per request.
    # @param batch_request [BatchRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @option opts [String] :fields Comma-separated list of fields to include in the response
    # @return [CountryListResponse]
    def batch_countries(batch_request, opts = {})
      data, _status_code, _headers = batch_countries_with_http_info(batch_request, opts)
      data
    end

    # Batch lookup countries by IDs
    # Returns multiple countries in a single request. Maximum 50 IDs per request.
    # @param batch_request [BatchRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @option opts [String] :fields Comma-separated list of fields to include in the response
    # @return [Array<(CountryListResponse, Integer, Hash)>] CountryListResponse data, response status code and response headers
    def batch_countries_with_http_info(batch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchApi.batch_countries ...'
      end
      # verify the required parameter 'batch_request' is set
      if @api_client.config.client_side_validation && batch_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_request' when calling BatchApi.batch_countries"
      end
      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length > 5
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling BatchApi.batch_countries, the character length must be smaller than or equal to 5.'
      end

      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length < 2
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling BatchApi.batch_countries, the character length must be greater than or equal to 2.'
      end

      # resource path
      local_var_path = '/v1/batch/countries'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CountryListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth']

      new_options = opts.merge(
        :operation => :"BatchApi.batch_countries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchApi#batch_countries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Batch lookup regions by IDs
    # Returns multiple regions in a single request. Maximum 50 IDs per request.
    # @param batch_request [BatchRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @option opts [String] :fields Comma-separated list of fields to include in the response
    # @return [RegionListResponse]
    def batch_regions(batch_request, opts = {})
      data, _status_code, _headers = batch_regions_with_http_info(batch_request, opts)
      data
    end

    # Batch lookup regions by IDs
    # Returns multiple regions in a single request. Maximum 50 IDs per request.
    # @param batch_request [BatchRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @option opts [String] :fields Comma-separated list of fields to include in the response
    # @return [Array<(RegionListResponse, Integer, Hash)>] RegionListResponse data, response status code and response headers
    def batch_regions_with_http_info(batch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchApi.batch_regions ...'
      end
      # verify the required parameter 'batch_request' is set
      if @api_client.config.client_side_validation && batch_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_request' when calling BatchApi.batch_regions"
      end
      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length > 5
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling BatchApi.batch_regions, the character length must be smaller than or equal to 5.'
      end

      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length < 2
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling BatchApi.batch_regions, the character length must be greater than or equal to 2.'
      end

      # resource path
      local_var_path = '/v1/batch/regions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RegionListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth']

      new_options = opts.merge(
        :operation => :"BatchApi.batch_regions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchApi#batch_regions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
