=begin
#GeoAPI

#Geographic data REST API — modern replacement for GeoNames.  Serves countries, regions, cities, postal codes, timezones, and IP geolocation data through a fast, well-documented JSON API with cursor-based pagination and field selection.  ## Authentication All endpoints (except health check) require an API key passed via the `X-API-Key` header.  ## Rate Limiting Two independent limits apply to every authenticated request: a per-second throttle and a monthly quota. They fail with different error codes because they call for different client behaviour — `rate_limit_exceeded` means back off for a moment, `quota_exceeded` means the plan's monthly allowance is exhausted until the period resets.  Responses include rate limit headers: - `X-RateLimit-Limit` — requests per second allowed - `X-RateLimit-Remaining` — requests remaining in current window - `X-RateLimit-Reset` — **Unix epoch second** at which the applicable limit   resets. This is an absolute timestamp, not a duration. On a   `quota_exceeded` response it carries the end of the monthly quota period   rather than the next second boundary. - `X-Monthly-RateLimit-Limit` — monthly quota - `X-Monthly-RateLimit-Remaining` — monthly requests remaining - `X-RateLimit-Upgrade` — advisory message, present only once monthly usage   passes 80% of the plan's quota - `Retry-After` — seconds to wait before retrying. Present on both 429s and   the unambiguous duration; prefer it over deriving one from   `X-RateLimit-Reset`.  ## Pagination List endpoints use cursor-based pagination with `cursor` and `limit` parameters. Maximum limit is 100. Responses include pagination metadata in the `meta` object.  ## Field Selection Use `?fields=name,population` on any endpoint to receive only the specified fields. 

The version of the OpenAPI document: 1.2.0

Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module GeoAPI
  class CountriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List neighboring countries
    # Returns countries that share a border with the specified country.
    # @param code [String] ISO alpha-2 country code
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @option opts [String] :fields Comma-separated list of fields to include in the response
    # @return [CountryListResponse]
    def country_neighbors(code, opts = {})
      data, _status_code, _headers = country_neighbors_with_http_info(code, opts)
      data
    end

    # List neighboring countries
    # Returns countries that share a border with the specified country.
    # @param code [String] ISO alpha-2 country code
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @option opts [String] :fields Comma-separated list of fields to include in the response
    # @return [Array<(CountryListResponse, Integer, Hash)>] CountryListResponse data, response status code and response headers
    def country_neighbors_with_http_info(code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountriesApi.country_neighbors ...'
      end
      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling CountriesApi.country_neighbors"
      end
      if @api_client.config.client_side_validation && code.to_s.length > 2
        fail ArgumentError, 'invalid value for "code" when calling CountriesApi.country_neighbors, the character length must be smaller than or equal to 2.'
      end

      if @api_client.config.client_side_validation && code.to_s.length < 2
        fail ArgumentError, 'invalid value for "code" when calling CountriesApi.country_neighbors, the character length must be greater than or equal to 2.'
      end

      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length > 5
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling CountriesApi.country_neighbors, the character length must be smaller than or equal to 5.'
      end

      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length < 2
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling CountriesApi.country_neighbors, the character length must be greater than or equal to 2.'
      end

      # resource path
      local_var_path = '/v1/countries/{code}/neighbors'.sub('{' + 'code' + '}', CGI.escape(code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CountryListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth']

      new_options = opts.merge(
        :operation => :"CountriesApi.country_neighbors",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountriesApi#country_neighbors\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get country by ISO code
    # Returns a single country by its ISO alpha-2 code.
    # @param code [String] ISO alpha-2 country code
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @option opts [String] :fields Comma-separated list of fields to include in the response
    # @return [CountrySingleResponse]
    def get_country(code, opts = {})
      data, _status_code, _headers = get_country_with_http_info(code, opts)
      data
    end

    # Get country by ISO code
    # Returns a single country by its ISO alpha-2 code.
    # @param code [String] ISO alpha-2 country code
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @option opts [String] :fields Comma-separated list of fields to include in the response
    # @return [Array<(CountrySingleResponse, Integer, Hash)>] CountrySingleResponse data, response status code and response headers
    def get_country_with_http_info(code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountriesApi.get_country ...'
      end
      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling CountriesApi.get_country"
      end
      if @api_client.config.client_side_validation && code.to_s.length > 2
        fail ArgumentError, 'invalid value for "code" when calling CountriesApi.get_country, the character length must be smaller than or equal to 2.'
      end

      if @api_client.config.client_side_validation && code.to_s.length < 2
        fail ArgumentError, 'invalid value for "code" when calling CountriesApi.get_country, the character length must be greater than or equal to 2.'
      end

      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length > 5
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling CountriesApi.get_country, the character length must be smaller than or equal to 5.'
      end

      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length < 2
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling CountriesApi.get_country, the character length must be greater than or equal to 2.'
      end

      # resource path
      local_var_path = '/v1/countries/{code}'.sub('{' + 'code' + '}', CGI.escape(code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CountrySingleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth']

      new_options = opts.merge(
        :operation => :"CountriesApi.get_country",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountriesApi#get_country\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List countries
    # Returns a paginated list of countries with optional filtering and sorting.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @option opts [String] :continent Filter by continent code (AF, AN, AS, EU, NA, OC, SA)
    # @option opts [String] :iso_code Filter by ISO alpha-2 codes (comma-separated)
    # @option opts [Integer] :population_min Minimum population filter
    # @option opts [Integer] :population_max Maximum population filter
    # @option opts [String] :cursor Pagination cursor from a previous response
    # @option opts [Integer] :limit Number of results per page (1-100, default 25) (default to 25)
    # @option opts [String] :fields Comma-separated list of fields to include in the response
    # @option opts [String] :sort Sort field and direction. Allowed: name, population, area_sq_km. Prefix with - for descending.
    # @return [CountryListResponse]
    def list_countries(opts = {})
      data, _status_code, _headers = list_countries_with_http_info(opts)
      data
    end

    # List countries
    # Returns a paginated list of countries with optional filtering and sorting.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @option opts [String] :continent Filter by continent code (AF, AN, AS, EU, NA, OC, SA)
    # @option opts [String] :iso_code Filter by ISO alpha-2 codes (comma-separated)
    # @option opts [Integer] :population_min Minimum population filter
    # @option opts [Integer] :population_max Maximum population filter
    # @option opts [String] :cursor Pagination cursor from a previous response
    # @option opts [Integer] :limit Number of results per page (1-100, default 25) (default to 25)
    # @option opts [String] :fields Comma-separated list of fields to include in the response
    # @option opts [String] :sort Sort field and direction. Allowed: name, population, area_sq_km. Prefix with - for descending.
    # @return [Array<(CountryListResponse, Integer, Hash)>] CountryListResponse data, response status code and response headers
    def list_countries_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountriesApi.list_countries ...'
      end
      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length > 5
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling CountriesApi.list_countries, the character length must be smaller than or equal to 5.'
      end

      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length < 2
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling CountriesApi.list_countries, the character length must be greater than or equal to 2.'
      end

      allowable_values = ["AF", "AN", "AS", "EU", "NA", "OC", "SA"]
      if @api_client.config.client_side_validation && opts[:'continent'] && !allowable_values.include?(opts[:'continent'])
        fail ArgumentError, "invalid value for \"continent\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CountriesApi.list_countries, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CountriesApi.list_countries, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/countries'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'continent'] = opts[:'continent'] if !opts[:'continent'].nil?
      query_params[:'iso_code'] = opts[:'iso_code'] if !opts[:'iso_code'].nil?
      query_params[:'population_min'] = opts[:'population_min'] if !opts[:'population_min'].nil?
      query_params[:'population_max'] = opts[:'population_max'] if !opts[:'population_max'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CountryListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth']

      new_options = opts.merge(
        :operation => :"CountriesApi.list_countries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountriesApi#list_countries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List regions in a country
    # Returns a paginated list of regions (administrative divisions) within a country.
    # @param code [String] ISO alpha-2 country code
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @option opts [String] :cursor Pagination cursor from a previous response
    # @option opts [Integer] :limit Number of results per page (1-100, default 25) (default to 25)
    # @option opts [String] :fields Comma-separated list of fields to include in the response
    # @option opts [String] :sort Sort field. Allowed: name, population.
    # @return [RegionListResponse]
    def list_country_regions(code, opts = {})
      data, _status_code, _headers = list_country_regions_with_http_info(code, opts)
      data
    end

    # List regions in a country
    # Returns a paginated list of regions (administrative divisions) within a country.
    # @param code [String] ISO alpha-2 country code
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @option opts [String] :cursor Pagination cursor from a previous response
    # @option opts [Integer] :limit Number of results per page (1-100, default 25) (default to 25)
    # @option opts [String] :fields Comma-separated list of fields to include in the response
    # @option opts [String] :sort Sort field. Allowed: name, population.
    # @return [Array<(RegionListResponse, Integer, Hash)>] RegionListResponse data, response status code and response headers
    def list_country_regions_with_http_info(code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountriesApi.list_country_regions ...'
      end
      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling CountriesApi.list_country_regions"
      end
      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length > 5
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling CountriesApi.list_country_regions, the character length must be smaller than or equal to 5.'
      end

      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length < 2
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling CountriesApi.list_country_regions, the character length must be greater than or equal to 2.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CountriesApi.list_country_regions, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CountriesApi.list_country_regions, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/countries/{code}/regions'.sub('{' + 'code' + '}', CGI.escape(code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RegionListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth']

      new_options = opts.merge(
        :operation => :"CountriesApi.list_country_regions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountriesApi#list_country_regions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
