=begin
#GeoSearch

#Geographic data REST API — modern replacement for GeoNames.  Serves countries, regions, cities, postal codes, timezones, and IP geolocation data through a fast, well-documented JSON API with cursor-based pagination and field selection.  ## Authentication All endpoints (except health check) require an API key passed via the `X-API-Key` header.  ## Rate Limiting Two independent limits apply to every authenticated request: a per-second throttle and a monthly quota. They fail with different error codes because they call for different client behaviour — `rate_limit_exceeded` means back off for a moment, `quota_exceeded` means the plan's monthly allowance is exhausted until the period resets.  Responses include rate limit headers: - `X-RateLimit-Limit` — requests per second allowed - `X-RateLimit-Remaining` — requests remaining in current window - `X-RateLimit-Reset` — **Unix epoch second** at which the applicable limit   resets. This is an absolute timestamp, not a duration. On a   `quota_exceeded` response it carries the end of the monthly quota period   rather than the next second boundary. - `X-Monthly-RateLimit-Limit` — monthly quota - `X-Monthly-RateLimit-Remaining` — monthly requests remaining - `X-RateLimit-Upgrade` — advisory message, present only once monthly usage   passes 80% of the plan's quota - `Retry-After` — seconds to wait before retrying. Present on both 429s and   the unambiguous duration; prefer it over deriving one from   `X-RateLimit-Reset`.  ## Pagination List endpoints use cursor-based pagination with `cursor` and `limit` parameters. Maximum limit is 100. Responses include pagination metadata in the `meta` object.  ## Field Selection Use `?fields=name,population` on any endpoint to receive only the specified fields. 

The version of the OpenAPI document: 1.3.0

Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module GeoSearch
  class BoundariesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Fetch an area's boundary polygon as GeoJSON
    # Returns the boundary polygon for one country or region as a bare GeoJSON geometry.  ## COSTS 5 QUOTA UNITS  This endpoint charges five units against the monthly quota, not one. The premium is priced on PAYLOAD rather than on query time: country GeoJSON averages 62.6 KB and reaches 1.9 MB, and region GeoJSON reaches 2.8 MB — two to three orders of magnitude above an ordinary list response.  `?simplify=` does NOT reduce the cost. It trades server CPU for client bytes (simplification measures 209–248 ms against 10.3 ms for the plain fetch), so the route is expensive to serve either way.  REJECTIONS COST ONE UNIT, NOT FIVE. A 400, a 422, either 404 and the 403 below all charge the standard single unit, so probing which ids are fetchable — and bouncing off the paywall — is not billed at the premium rate. Only a request that actually reaches the polygon fetch is charged five, including one that reaches it and then times out.  ## Plan requirements  REGION boundaries require a paid plan. COUNTRY boundaries are available on every plan, including Free. A Free key requesting a region boundary receives a 403 `tier_upgrade_required` carrying an upgrade link — a visible refusal, not a silent omission.  This is the same split the `geometry` field follows on the country and region endpoints, with one deliberate difference: there the field is simply absent from a 200, while here the refusal is explicit and tells you what to do about it.  ## Response shape  `data.geometry` is a BARE GeoJSON geometry — the `{\"type\": ..., \"coordinates\": ...}` object — and NOT a GeoJSON `Feature`. There is no `properties` wrapper; the three sibling fields carry that information. This matches the geometry `/v1/countries/{code}` and `/v1/regions/{id}` already return.  `type` is `Polygon` OR `MultiPolygon`. Do not pin it: applying `?simplify=` can collapse a MultiPolygon into a Polygon for areas whose smaller parts disappear at the requested tolerance.  `?fields=` IS NOT SUPPORTED on this endpoint and is ignored if sent. Field selection here works by serialising the whole object and then dropping keys, so `?fields=name` on a 1.9 MB polygon would build the polygon in full and discard it — strictly more expensive than not sending the parameter. Callers who want only the name should use `/v1/countries/{code}` or `/v1/regions/{id}`. 
    # @param geoname_id [Integer] GeoNames id of a country or a region. A city id — or any id that does not name an area — is a 404 &#x60;area_not_an_area&#x60;, not a 400.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :simplify Douglas-Peucker tolerance in EPSG:4326 DEGREES, applied before the polygon is serialised. Omit it for full precision.  DEGREES, NOT METRES. The upper bound of 10 is roughly 1,100 km, chosen to make the unit obviously wrong to anyone who typed a value in metres. Simplification stops changing the shape above about 1 degree, so values beyond that buy nothing.  &#x60;0&#x60; is accepted and is a no-op: the response reports &#x60;simplify: null&#x60;, because no tolerance was actually applied.  A negative, non-finite or out-of-range value is a 422, never a 500.  SUPPLY IT AT MOST ONCE. &#x60;?simplify&#x3D;0.01&amp;simplify&#x3D;0.5&#x60; is a 422 rather than a request served with one of the two values silently dropped: two tolerances are two conflicting instructions, and the server does not guess which was meant.
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @return [BoundarySingleResponse]
    def get_boundary(geoname_id, opts = {})
      data, _status_code, _headers = get_boundary_with_http_info(geoname_id, opts)
      data
    end

    # Fetch an area&#39;s boundary polygon as GeoJSON
    # Returns the boundary polygon for one country or region as a bare GeoJSON geometry.  ## COSTS 5 QUOTA UNITS  This endpoint charges five units against the monthly quota, not one. The premium is priced on PAYLOAD rather than on query time: country GeoJSON averages 62.6 KB and reaches 1.9 MB, and region GeoJSON reaches 2.8 MB — two to three orders of magnitude above an ordinary list response.  &#x60;?simplify&#x3D;&#x60; does NOT reduce the cost. It trades server CPU for client bytes (simplification measures 209–248 ms against 10.3 ms for the plain fetch), so the route is expensive to serve either way.  REJECTIONS COST ONE UNIT, NOT FIVE. A 400, a 422, either 404 and the 403 below all charge the standard single unit, so probing which ids are fetchable — and bouncing off the paywall — is not billed at the premium rate. Only a request that actually reaches the polygon fetch is charged five, including one that reaches it and then times out.  ## Plan requirements  REGION boundaries require a paid plan. COUNTRY boundaries are available on every plan, including Free. A Free key requesting a region boundary receives a 403 &#x60;tier_upgrade_required&#x60; carrying an upgrade link — a visible refusal, not a silent omission.  This is the same split the &#x60;geometry&#x60; field follows on the country and region endpoints, with one deliberate difference: there the field is simply absent from a 200, while here the refusal is explicit and tells you what to do about it.  ## Response shape  &#x60;data.geometry&#x60; is a BARE GeoJSON geometry — the &#x60;{\&quot;type\&quot;: ..., \&quot;coordinates\&quot;: ...}&#x60; object — and NOT a GeoJSON &#x60;Feature&#x60;. There is no &#x60;properties&#x60; wrapper; the three sibling fields carry that information. This matches the geometry &#x60;/v1/countries/{code}&#x60; and &#x60;/v1/regions/{id}&#x60; already return.  &#x60;type&#x60; is &#x60;Polygon&#x60; OR &#x60;MultiPolygon&#x60;. Do not pin it: applying &#x60;?simplify&#x3D;&#x60; can collapse a MultiPolygon into a Polygon for areas whose smaller parts disappear at the requested tolerance.  &#x60;?fields&#x3D;&#x60; IS NOT SUPPORTED on this endpoint and is ignored if sent. Field selection here works by serialising the whole object and then dropping keys, so &#x60;?fields&#x3D;name&#x60; on a 1.9 MB polygon would build the polygon in full and discard it — strictly more expensive than not sending the parameter. Callers who want only the name should use &#x60;/v1/countries/{code}&#x60; or &#x60;/v1/regions/{id}&#x60;. 
    # @param geoname_id [Integer] GeoNames id of a country or a region. A city id — or any id that does not name an area — is a 404 &#x60;area_not_an_area&#x60;, not a 400.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :simplify Douglas-Peucker tolerance in EPSG:4326 DEGREES, applied before the polygon is serialised. Omit it for full precision.  DEGREES, NOT METRES. The upper bound of 10 is roughly 1,100 km, chosen to make the unit obviously wrong to anyone who typed a value in metres. Simplification stops changing the shape above about 1 degree, so values beyond that buy nothing.  &#x60;0&#x60; is accepted and is a no-op: the response reports &#x60;simplify: null&#x60;, because no tolerance was actually applied.  A negative, non-finite or out-of-range value is a 422, never a 500.  SUPPLY IT AT MOST ONCE. &#x60;?simplify&#x3D;0.01&amp;simplify&#x3D;0.5&#x60; is a 422 rather than a request served with one of the two values silently dropped: two tolerances are two conflicting instructions, and the server does not guess which was meant.
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @return [Array<(BoundarySingleResponse, Integer, Hash)>] BoundarySingleResponse data, response status code and response headers
    def get_boundary_with_http_info(geoname_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BoundariesApi.get_boundary ...'
      end
      # verify the required parameter 'geoname_id' is set
      if @api_client.config.client_side_validation && geoname_id.nil?
        fail ArgumentError, "Missing the required parameter 'geoname_id' when calling BoundariesApi.get_boundary"
      end
      if @api_client.config.client_side_validation && !opts[:'simplify'].nil? && opts[:'simplify'] > 10
        fail ArgumentError, 'invalid value for "opts[:"simplify"]" when calling BoundariesApi.get_boundary, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'simplify'].nil? && opts[:'simplify'] < 0
        fail ArgumentError, 'invalid value for "opts[:"simplify"]" when calling BoundariesApi.get_boundary, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length > 5
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling BoundariesApi.get_boundary, the character length must be smaller than or equal to 5.'
      end

      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length < 2
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling BoundariesApi.get_boundary, the character length must be greater than or equal to 2.'
      end

      # resource path
      local_var_path = '/v1/boundaries/{geoname_id}'.sub('{' + 'geoname_id' + '}', CGI.escape(geoname_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'simplify'] = opts[:'simplify'] if !opts[:'simplify'].nil?
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BoundarySingleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth']

      new_options = opts.merge(
        :operation => :"BoundariesApi.get_boundary",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BoundariesApi#get_boundary\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
