=begin
#GeoSearch

#Geographic data REST API — modern replacement for GeoNames.  Serves countries, regions, cities, postal codes, timezones, and IP geolocation data through a fast, well-documented JSON API with cursor-based pagination and field selection.  ## Authentication All endpoints (except health check) require an API key passed via the `X-API-Key` header.  ## Rate Limiting Two independent limits apply to every authenticated request: a per-second throttle and a monthly quota. They fail with different error codes because they call for different client behaviour — `rate_limit_exceeded` means back off for a moment, `quota_exceeded` means the plan's monthly allowance is exhausted until the period resets.  Responses include rate limit headers: - `X-RateLimit-Limit` — requests per second allowed - `X-RateLimit-Remaining` — requests remaining in current window - `X-RateLimit-Reset` — **Unix epoch second** at which the applicable limit   resets. This is an absolute timestamp, not a duration. On a   `quota_exceeded` response it carries the end of the monthly quota period   rather than the next second boundary. - `X-Monthly-RateLimit-Limit` — monthly quota - `X-Monthly-RateLimit-Remaining` — monthly requests remaining - `X-RateLimit-Upgrade` — advisory message, present only once monthly usage   passes 80% of the plan's quota - `Retry-After` — seconds to wait before retrying. Present on both 429s and   the unambiguous duration; prefer it over deriving one from   `X-RateLimit-Reset`.  ## Pagination List endpoints use cursor-based pagination with `cursor` and `limit` parameters. Maximum limit is 100. Responses include pagination metadata in the `meta` object.  ## Field Selection Use `?fields=name,population` on any endpoint to receive only the specified fields. 

The version of the OpenAPI document: 1.3.2
Contact: info@geosearch.dev
Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module GeoSearch
  class IPGeolocationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # IP geolocation lookup
    # Returns geolocation data for a given IPv4 or IPv6 address.
    # @param address [String] IPv4 or IPv6 address
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @option opts [String] :fields Comma-separated list of fields to include in the response
    # @return [IPSingleResponse]
    def lookup_ip(address, opts = {})
      data, _status_code, _headers = lookup_ip_with_http_info(address, opts)
      data
    end

    # IP geolocation lookup
    # Returns geolocation data for a given IPv4 or IPv6 address.
    # @param address [String] IPv4 or IPv6 address
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @option opts [String] :fields Comma-separated list of fields to include in the response
    # @return [Array<(IPSingleResponse, Integer, Hash)>] IPSingleResponse data, response status code and response headers
    def lookup_ip_with_http_info(address, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IPGeolocationApi.lookup_ip ...'
      end
      # verify the required parameter 'address' is set
      if @api_client.config.client_side_validation && address.nil?
        fail ArgumentError, "Missing the required parameter 'address' when calling IPGeolocationApi.lookup_ip"
      end
      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length > 5
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling IPGeolocationApi.lookup_ip, the character length must be smaller than or equal to 5.'
      end

      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length < 2
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling IPGeolocationApi.lookup_ip, the character length must be greater than or equal to 2.'
      end

      # resource path
      local_var_path = '/v1/ip/{address}'.sub('{' + 'address' + '}', CGI.escape(address.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IPSingleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth']

      new_options = opts.merge(
        :operation => :"IPGeolocationApi.lookup_ip",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IPGeolocationApi#lookup_ip\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Caller's IP geolocation
    # Auto-detects the client's IP address (from X-Forwarded-For or RemoteAddr) and returns its geolocation data. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @option opts [String] :fields Comma-separated list of fields to include in the response
    # @return [IPSingleResponse]
    def lookup_my_ip(opts = {})
      data, _status_code, _headers = lookup_my_ip_with_http_info(opts)
      data
    end

    # Caller&#39;s IP geolocation
    # Auto-detects the client&#39;s IP address (from X-Forwarded-For or RemoteAddr) and returns its geolocation data. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @option opts [String] :fields Comma-separated list of fields to include in the response
    # @return [Array<(IPSingleResponse, Integer, Hash)>] IPSingleResponse data, response status code and response headers
    def lookup_my_ip_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IPGeolocationApi.lookup_my_ip ...'
      end
      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length > 5
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling IPGeolocationApi.lookup_my_ip, the character length must be smaller than or equal to 5.'
      end

      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length < 2
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling IPGeolocationApi.lookup_my_ip, the character length must be greater than or equal to 2.'
      end

      # resource path
      local_var_path = '/v1/ip/me'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IPSingleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth']

      new_options = opts.merge(
        :operation => :"IPGeolocationApi.lookup_my_ip",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IPGeolocationApi#lookup_my_ip\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
