=begin
#GeoSearch

#Geographic data REST API — modern replacement for GeoNames.  Serves countries, regions, cities, postal codes, timezones, and IP geolocation data through a fast, well-documented JSON API with cursor-based pagination and field selection.  ## Authentication All endpoints (except health check) require an API key passed via the `X-API-Key` header.  ## Rate Limiting Two independent limits apply to every authenticated request: a per-second throttle and a monthly quota. They fail with different error codes because they call for different client behaviour — `rate_limit_exceeded` means back off for a moment, `quota_exceeded` means the plan's monthly allowance is exhausted until the period resets.  Responses include rate limit headers: - `X-RateLimit-Limit` — requests per second allowed - `X-RateLimit-Remaining` — requests remaining in current window - `X-RateLimit-Reset` — **Unix epoch second** at which the applicable limit   resets. This is an absolute timestamp, not a duration. On a   `quota_exceeded` response it carries the end of the monthly quota period   rather than the next second boundary. - `X-Monthly-RateLimit-Limit` — monthly quota - `X-Monthly-RateLimit-Remaining` — monthly requests remaining - `X-RateLimit-Upgrade` — advisory message, present only once monthly usage   passes 80% of the plan's quota - `Retry-After` — seconds to wait before retrying. Present on both 429s and   the unambiguous duration; prefer it over deriving one from   `X-RateLimit-Reset`.  ## Pagination List endpoints use cursor-based pagination with `cursor` and `limit` parameters. Maximum limit is 100. Responses include pagination metadata in the `meta` object.  ## Field Selection Use `?fields=name,population` on any endpoint to receive only the specified fields. 

The version of the OpenAPI document: 1.3.1

Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module GeoSearch
  class SearchApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Autocomplete search
    # Returns autocomplete suggestions matching a query string across cities, regions, and countries. Results are ranked by relevance and population. Minimum 2 characters required. 
    # @param q [String] Search query (minimum 2 characters)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @option opts [Integer] :limit Maximum results to return (1-25, default 10) (default to 10)
    # @option opts [String] :fields Comma-separated list of fields to include in the response
    # @return [AutocompleteListResponse]
    def autocomplete(q, opts = {})
      data, _status_code, _headers = autocomplete_with_http_info(q, opts)
      data
    end

    # Autocomplete search
    # Returns autocomplete suggestions matching a query string across cities, regions, and countries. Results are ranked by relevance and population. Minimum 2 characters required. 
    # @param q [String] Search query (minimum 2 characters)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @option opts [Integer] :limit Maximum results to return (1-25, default 10) (default to 10)
    # @option opts [String] :fields Comma-separated list of fields to include in the response
    # @return [Array<(AutocompleteListResponse, Integer, Hash)>] AutocompleteListResponse data, response status code and response headers
    def autocomplete_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SearchApi.autocomplete ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling SearchApi.autocomplete"
      end
      if @api_client.config.client_side_validation && q.to_s.length < 2
        fail ArgumentError, 'invalid value for "q" when calling SearchApi.autocomplete, the character length must be greater than or equal to 2.'
      end

      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length > 5
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling SearchApi.autocomplete, the character length must be smaller than or equal to 5.'
      end

      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length < 2
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling SearchApi.autocomplete, the character length must be greater than or equal to 2.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 25
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SearchApi.autocomplete, must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SearchApi.autocomplete, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/autocomplete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AutocompleteListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth']

      new_options = opts.merge(
        :operation => :"SearchApi.autocomplete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchApi#autocomplete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resolve coordinates to their containing administrative areas
    # Returns the administrative areas whose BOUNDARY POLYGONS CONTAIN the given coordinate, ordered country first.  ## How this differs from `/v1/reverse`  These two endpoints take the same parameters and answer different questions, and the difference is the reason both exist.  `/v1/reverse` returns the NEAREST city. It always returns something, and for a point near a border that something is sometimes in the neighbouring country.  `/v1/resolve` returns the areas that actually CONTAIN the point. It is never wrong about which country a point is in — and it sometimes returns nothing at all, because no polygon covers the point or because we hold no polygon for that country. Choose this endpoint when correctness at borders matters and choose `/v1/reverse` when you always need an answer.  ## `depth` RUNS THE OPPOSITE DIRECTION FROM `/v1/cities/{id}/hierarchy`  Read this before writing code that consumes both endpoints.  Both return the same node SHAPE — `geoname_id`, `name`, `type`, `depth` — so one rendering path can accept either. The `depth` SEMANTICS are inverted between them:  - On **this** endpoint `depth` is POSITIONAL, counting outward-in from   the largest area: **`depth: 0` is the COUNTRY**, `depth: 1` is the   region inside it, and so on. - On **`/v1/cities/{id}/hierarchy`** `depth` counts up from the entity   that was asked about: `depth: 0` is the CITY, and the country is at the   highest depth in the list.  So `data[0]` is the country here and the city there. Code that sorts or indexes on `depth` across both endpoints without accounting for this will silently invert the hierarchy rather than fail.  ## Cost and availability  One quota unit, on every plan including Free. This is a single indexed point-in-polygon probe returning names, not a geometry transfer, so it carries no premium and no tier gate.  `?fields=` IS NOT SUPPORTED on this endpoint and is ignored if sent. The four node fields are all small, so selection would save nothing. 
    # @param lat [Float] Latitude (-90 to 90). Must be a finite number: &#x60;NaN&#x60; and &#x60;Infinity&#x60; are rejected with a 400 rather than being passed to the spatial index, which would answer them with an ordinary \&quot;not found\&quot;.
    # @param lon [Float] Longitude (-180 to 180). Must be a finite number; see &#x60;lat&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @return [HierarchyListResponse]
    def resolve_coordinate(lat, lon, opts = {})
      data, _status_code, _headers = resolve_coordinate_with_http_info(lat, lon, opts)
      data
    end

    # Resolve coordinates to their containing administrative areas
    # Returns the administrative areas whose BOUNDARY POLYGONS CONTAIN the given coordinate, ordered country first.  ## How this differs from &#x60;/v1/reverse&#x60;  These two endpoints take the same parameters and answer different questions, and the difference is the reason both exist.  &#x60;/v1/reverse&#x60; returns the NEAREST city. It always returns something, and for a point near a border that something is sometimes in the neighbouring country.  &#x60;/v1/resolve&#x60; returns the areas that actually CONTAIN the point. It is never wrong about which country a point is in — and it sometimes returns nothing at all, because no polygon covers the point or because we hold no polygon for that country. Choose this endpoint when correctness at borders matters and choose &#x60;/v1/reverse&#x60; when you always need an answer.  ## &#x60;depth&#x60; RUNS THE OPPOSITE DIRECTION FROM &#x60;/v1/cities/{id}/hierarchy&#x60;  Read this before writing code that consumes both endpoints.  Both return the same node SHAPE — &#x60;geoname_id&#x60;, &#x60;name&#x60;, &#x60;type&#x60;, &#x60;depth&#x60; — so one rendering path can accept either. The &#x60;depth&#x60; SEMANTICS are inverted between them:  - On **this** endpoint &#x60;depth&#x60; is POSITIONAL, counting outward-in from   the largest area: **&#x60;depth: 0&#x60; is the COUNTRY**, &#x60;depth: 1&#x60; is the   region inside it, and so on. - On **&#x60;/v1/cities/{id}/hierarchy&#x60;** &#x60;depth&#x60; counts up from the entity   that was asked about: &#x60;depth: 0&#x60; is the CITY, and the country is at the   highest depth in the list.  So &#x60;data[0]&#x60; is the country here and the city there. Code that sorts or indexes on &#x60;depth&#x60; across both endpoints without accounting for this will silently invert the hierarchy rather than fail.  ## Cost and availability  One quota unit, on every plan including Free. This is a single indexed point-in-polygon probe returning names, not a geometry transfer, so it carries no premium and no tier gate.  &#x60;?fields&#x3D;&#x60; IS NOT SUPPORTED on this endpoint and is ignored if sent. The four node fields are all small, so selection would save nothing. 
    # @param lat [Float] Latitude (-90 to 90). Must be a finite number: &#x60;NaN&#x60; and &#x60;Infinity&#x60; are rejected with a 400 rather than being passed to the spatial index, which would answer them with an ordinary \&quot;not found\&quot;.
    # @param lon [Float] Longitude (-180 to 180). Must be a finite number; see &#x60;lat&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @return [Array<(HierarchyListResponse, Integer, Hash)>] HierarchyListResponse data, response status code and response headers
    def resolve_coordinate_with_http_info(lat, lon, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SearchApi.resolve_coordinate ...'
      end
      # verify the required parameter 'lat' is set
      if @api_client.config.client_side_validation && lat.nil?
        fail ArgumentError, "Missing the required parameter 'lat' when calling SearchApi.resolve_coordinate"
      end
      if @api_client.config.client_side_validation && lat > 90
        fail ArgumentError, 'invalid value for "lat" when calling SearchApi.resolve_coordinate, must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && lat < -90
        fail ArgumentError, 'invalid value for "lat" when calling SearchApi.resolve_coordinate, must be greater than or equal to -90.'
      end

      # verify the required parameter 'lon' is set
      if @api_client.config.client_side_validation && lon.nil?
        fail ArgumentError, "Missing the required parameter 'lon' when calling SearchApi.resolve_coordinate"
      end
      if @api_client.config.client_side_validation && lon > 180
        fail ArgumentError, 'invalid value for "lon" when calling SearchApi.resolve_coordinate, must be smaller than or equal to 180.'
      end

      if @api_client.config.client_side_validation && lon < -180
        fail ArgumentError, 'invalid value for "lon" when calling SearchApi.resolve_coordinate, must be greater than or equal to -180.'
      end

      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length > 5
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling SearchApi.resolve_coordinate, the character length must be smaller than or equal to 5.'
      end

      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length < 2
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling SearchApi.resolve_coordinate, the character length must be greater than or equal to 2.'
      end

      # resource path
      local_var_path = '/v1/resolve'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'lat'] = lat
      query_params[:'lon'] = lon
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HierarchyListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth']

      new_options = opts.merge(
        :operation => :"SearchApi.resolve_coordinate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchApi#resolve_coordinate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reverse geocode coordinates
    # Returns the nearest city for a given latitude/longitude. Uses PostGIS spatial index for fast reverse geocoding. 
    # @param lat [Float] Latitude (-90 to 90)
    # @param lon [Float] Longitude (-180 to 180)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Comma-separated list of fields to include in the response
    # @return [ReverseGeocodeSingleResponse]
    def reverse_geocode(lat, lon, opts = {})
      data, _status_code, _headers = reverse_geocode_with_http_info(lat, lon, opts)
      data
    end

    # Reverse geocode coordinates
    # Returns the nearest city for a given latitude/longitude. Uses PostGIS spatial index for fast reverse geocoding. 
    # @param lat [Float] Latitude (-90 to 90)
    # @param lon [Float] Longitude (-180 to 180)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Comma-separated list of fields to include in the response
    # @return [Array<(ReverseGeocodeSingleResponse, Integer, Hash)>] ReverseGeocodeSingleResponse data, response status code and response headers
    def reverse_geocode_with_http_info(lat, lon, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SearchApi.reverse_geocode ...'
      end
      # verify the required parameter 'lat' is set
      if @api_client.config.client_side_validation && lat.nil?
        fail ArgumentError, "Missing the required parameter 'lat' when calling SearchApi.reverse_geocode"
      end
      if @api_client.config.client_side_validation && lat > 90
        fail ArgumentError, 'invalid value for "lat" when calling SearchApi.reverse_geocode, must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && lat < -90
        fail ArgumentError, 'invalid value for "lat" when calling SearchApi.reverse_geocode, must be greater than or equal to -90.'
      end

      # verify the required parameter 'lon' is set
      if @api_client.config.client_side_validation && lon.nil?
        fail ArgumentError, "Missing the required parameter 'lon' when calling SearchApi.reverse_geocode"
      end
      if @api_client.config.client_side_validation && lon > 180
        fail ArgumentError, 'invalid value for "lon" when calling SearchApi.reverse_geocode, must be smaller than or equal to 180.'
      end

      if @api_client.config.client_side_validation && lon < -180
        fail ArgumentError, 'invalid value for "lon" when calling SearchApi.reverse_geocode, must be greater than or equal to -180.'
      end

      # resource path
      local_var_path = '/v1/reverse'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'lat'] = lat
      query_params[:'lon'] = lon
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReverseGeocodeSingleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth']

      new_options = opts.merge(
        :operation => :"SearchApi.reverse_geocode",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchApi#reverse_geocode\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cross-type search
    # Performs a fuzzy text search across countries, regions, and cities using trigram matching. Results are ranked by relevance and population. Uses simple limit pagination (no cursor). 
    # @param q [String] Search query (minimum 2 characters)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @option opts [String] :type Filter by entity type (comma-separated). Allowed: country, region, city.
    # @option opts [Integer] :limit Maximum results to return (1-100, default 25) (default to 25)
    # @option opts [String] :fields Comma-separated list of fields to include in the response
    # @return [SearchListResponse]
    def search(q, opts = {})
      data, _status_code, _headers = search_with_http_info(q, opts)
      data
    end

    # Cross-type search
    # Performs a fuzzy text search across countries, regions, and cities using trigram matching. Results are ranked by relevance and population. Uses simple limit pagination (no cursor). 
    # @param q [String] Search query (minimum 2 characters)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang ISO 639-1 language code for localized names (e.g., de, fr, ja)
    # @option opts [String] :type Filter by entity type (comma-separated). Allowed: country, region, city.
    # @option opts [Integer] :limit Maximum results to return (1-100, default 25) (default to 25)
    # @option opts [String] :fields Comma-separated list of fields to include in the response
    # @return [Array<(SearchListResponse, Integer, Hash)>] SearchListResponse data, response status code and response headers
    def search_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SearchApi.search ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling SearchApi.search"
      end
      if @api_client.config.client_side_validation && q.to_s.length < 2
        fail ArgumentError, 'invalid value for "q" when calling SearchApi.search, the character length must be greater than or equal to 2.'
      end

      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length > 5
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling SearchApi.search, the character length must be smaller than or equal to 5.'
      end

      if @api_client.config.client_side_validation && !opts[:'lang'].nil? && opts[:'lang'].to_s.length < 2
        fail ArgumentError, 'invalid value for "opts[:"lang"]" when calling SearchApi.search, the character length must be greater than or equal to 2.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SearchApi.search, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SearchApi.search, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SearchListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth']

      new_options = opts.merge(
        :operation => :"SearchApi.search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchApi#search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
